@font-face {
  font-family: 'Fraunces', serif;
  src: url('../../fonts/Fraunces/static/Fraunces_72pt-Bold.ttf');
}

@font-face {
  font-family: 'Barlow', sans-serif;
  src: url('../../fonts/Barlow/Barlow-Regular.ttf');
}
